<meta charset="UTF-8" />
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<style>
  body {
    padding-top: 50px;
  }
</style>

<script>
  let token = `<%-tokenObject %>`;
  //   window.localStorage.setItem("authToken", JSON.stringify(token));
  //   token = JSON.parse(token);
  //   console.log(token.token);
  window.localStorage.setItem("authtoken", token);
</script>
